<!DOCTYPE html>

<html>

<head>
  <link rel="icon" href="/img/icon.png">

  
</head>

<body>
  <div class="main-content">
  <div class="headline"><h1>Natural language processing</h1></div>
   
  <div class="holder">
  
    <form action="">
      <div class="holder">Insert below the text and our system provide the analysis of its sentiment and more!</div>
    <textarea placeholder="Enter your text here..."></textarea>
    <button type = "submit" onclick="return Client.submitter(event)">Search</button>
  </form>
</div>
<div class="holder">
  The result will appear here:
  <div class="results">
  <p id="message-1"></p>
  <p id="message-2"></p>
  <p id="message-3"></p>
  <p id="message-4"></p>
  </div>
</div>
</div>

</body>
</html>