

.headline {
  background: none;
  font-size: x-large;
  color: white;
  background-color: cornflowerblue;
}

@media screen and (min-width: 700px) {
  
  .headline {
    font-size: x-large;
  }  
}

@media screen and (min-width: 900px) {
  .headline {
    font-size: x-large;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
